<nav style="min-height: 10dvh; max-height: 10dvh; justify-content: space-around; display: flex; align-items: center;">
    <ul style="display: flex; justify-content: space-around; list-style: none; padding: 0; margin: 0; gap: 20px;">
        <li><a href="/"><h1>Home</h1></a></li>
        <li><a href="/determinant"><h1>Determinant</h1></a></li>
        <li><a href="/molar_mass_calculator"><h1>Molar Mass Calculator</h1></a></li>
    </ul>
    <p style="margin: 0;">Bult By Giorgos Kafantaris</p>
</nav>
